body, div, ul, p {
    margin: 0;
    padding: 0;
    border: none;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}

#list li {
    width: 100%;
    height: 100%;
    background: #4b89dc;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.zIndex {
    z-index: 10;
}

.photo {
    position: absolute;
    top: 1rem;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    background: #ffffff;
    border-radius: 50%;
}

.photo img {
    width: 100%;
    height: 100%;
}

.move1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.a1 {
    position: absolute;
    width: 100%;
    bottom: 0.6rem;
    text-align: center;
    left: -12rem;
}

#a1 {
    -webkit-animation: a1 1s linear 0s 1;
    animation: a1 1s linear 0s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes a1 {
    0% {
        left: -12rem;
    }
    100% {
        left: 0;
    }
}

@keyframes a1 {
    0% {
        left: -12rem;
    }
    100% {
        left: 0;
    }
}

.a1 p {
    color: #ffffff;
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
}

h3 {
    width: 4rem;
    height: 1rem;
    color: #ffffff;
    line-height: 1rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.5rem;
    margin: 0.5rem auto 0;
    background: #132338;
}

.a2 {
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 0.4rem;
    color: #ffffff;
}

#a2 {
    -webkit-animation: a2 0.5s linear 0s 1;
    animation: a2 0.5s linear 0s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes a2 {
    0% {
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes a2 {
    0% {
    }
    100% {
        transform: rotateY(360deg);
    }
}

.a2 p {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding: 0.1rem 0;
    border-radius: 0.3rem;
    border: 2px solid #ffffff;
}

h4, h5 {
    position: absolute;
    left: 0.2rem;
    width: 0.8rem;
    padding: 0.1rem 0;
    border-radius: 0.2rem;
    font-size: 0.4rem;
    color: white;
    text-align: center;
    background: #132338;
}

h4 {
    top: 20%;
}

h5 {
    top: 60%;
}

.a3 {
    position: absolute;
    top: 25%;
    right: 0.3rem;
    width: 70%;
    height: 80%;
    overflow: hidden;
    color: #ffffff;
}

.a3 p {
    font-size: 0.3rem;
    padding: 0.1rem;
    line-height: 0.4rem;
    border: 1px solid #ffffff;
    border-radius: 0.2rem;
    position: absolute;
    top: 8rem;
}

#a3 p:nth-child(1) {
    -webkit-animation: a3p 1s linear 0s 1;
    animation: a3p 1s linear 0s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#a3 p:nth-child(2) {
    -webkit-animation: a3p2 1s linear 1s 1;
    animation: a3p2 1s linear 1s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes a3p {
    0% {

    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes a3p2 {
    0% {

    }
    100% {
        top: 5rem;
    }
}

.a4 {
    position: absolute;
    width: 100%;
    top: 20%;
}

.a4 p {
    margin: 0 auto;
    width: 0;
    height: 0;
    padding: 0.1rem;
    line-height: 0.4rem;
    color: white;
    overflow: hidden;
    font-size: 0.3rem;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

#a4 p {
    -webkit-animation: a4p 1s linear 0s 1;
    animation: a4p 1s linear 0s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes a4p {
    0% {

    }
    100% {
        width: 4rem;
        height: 7rem;
    }
}

.a5 {
    position: absolute;
    width: 100%;
    top: 20%;
    font-size: 0.4rem;
    color: #ffffff;

}

.a5 p {
    width: 80%;
    margin: 0.2rem auto;

}

.a5 p:nth-child(1) {
    text-align: center;
}

.a5 p:nth-child(2) {
    text-align: left;
    text-indent: 2em;
}

.a6 {
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 0.4rem;
    color: #ffffff;
}

.a6 p {
    padding: 0.1rem;
    line-height: 0.4rem;
    text-align: center;
}
.music {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url("../video/music.svg") no-repeat;
    background-size: 100%;
    z-index: 10;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.music audio {
    display: none;
}

.music.move {
    -webkit-animation: audioMove 1s linear 0s infinite;
    animation: audioMove 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
